<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pageTitle %}YUN YE{% endblock %}</title>
    <script>
      window.CONFIG = {{ config | raw | json_encode }}
      window.ORIGINS = {{ origins | raw | json_encode }}
    </script>
    <!--[if IE 9]>
      <link href="{{ origins['cdn'] }}vendors/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="{{ origins['cdn'] }}vendors/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="{{ origins['cdn'] }}vendors/html5shiv@3.7.3"></script>
    <![endif]-->
    {% block css %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}

    <!--[if gte IE 9]><!-->
    <script src="{{ origins['cdn'] }}vendors/jquery-3.4.1.slim.min.js"></script>
    <script src="{{ origins['cdn'] }}vendors/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!--<![endif]-->
    <!--[if IE 9]>
        <script src="{{ origins['cdn'] }}vendors/bootstrap-ie8/js/bootstrap-ie9.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
        <script src="{{ origins['cdn'] }}vendors/jquery-1.12.4.min.js"></script>
        <script src="{{ origins['cdn'] }}vendors/bootstrap-ie8/js/bootstrap-ie8.min.js"></script>
        <script src="{{ origins['cdn'] }}vendors/bootstrap/4.3.1/js/bootstrap.js"></script>
    <![endif]-->
    
    {% block scripts %}{% endblock %}
</body>

</html>